		<head>
            <link rel="stylesheet" href="/styles/writer.css">
        </head>
        <header>Write A New Blog</header>

<form id="form" class="topBefore" action="/write_to_panel" method="POST">
		
		  <input id="title" name= "title" type="text" placeholder="Title">
		  <textarea name= "blog_body" id="message" type="text" placeholder="Write in html (body tag) please"></textarea>
  <input id="submit" type="submit" value="Post Blog">
  
</form>